<!DOCTYPE html>
<html>
<head>

<script type="text/javascript">

$(document).ready(function(){
	$("#remove").hide();
	$("#message").hide();
	
	function obtain_password_to_remove_project() {
		var pass = $("#password").val();
		var id = "<%from_id%>";
		
		if(pass == "<%from_pass%>"){
			$("#pass").hide();
			$("#remove").show();
			$("#message").show();	
		}else{
			alert("Senha incorreta.");
		}
    };
	
	$("#pass").button().on("click", function() {
		obtain_password_to_remove_project();
    });
});

</script>
	
	<div id="dialog_form" title="Remover projeto">
		<h5>Senha:</h5>
		<form>
			<fieldset>
				<input type="password" id="password" value="">
			</fieldset>			
		</form>
	</div>
<br>

<button id="pass">Remover Projeto</button>

<div id="remove">
	<p>Tem certeza que deseja remover este projeto?</p>
	<a id="route" href="<% request.uri_base%>/rem_proj/<% from_id %>"> Sim |</a>
	<a href="<% request.uri_base%>"> Cancelar</a>
</div>

</head>
<html>