<script type="text/javascript">
	$(function () {
		esconder_revisoes();
		<% IF from_user %>
			obtain_user_name_to_remove_project("<% from_user %>");
		<% ELSE %>
			obtain_user_name();
		<% END %>
	});
	var project_id = <% project.id %>;
</script>